.cards {
    display: flex;
    flex-direction: row;  
    gap: 5px;  
    justify-content: space-evenly; 
    /* flex-end == end */
}

.card {
    margin: 0px;
    border: 2px solid black;
    padding: 15px;
}
