/* Document-wide settings */
html {
    font-family: 'Comic Sans MS', cursive;
    font-size: 18px;
    color: #DD0000;
}

body {
    background-image: url("/images/clouds.jpg");
    background-repeat: repeat;
    background-size: 300px 300px; 
}

/* More specific */

p {
    color: blue;   
}

strong {
    font-size: 2em;
}